<div class="grid-item large--two-thirds">
  <iframe width="100%" class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.0111677747177!2d-0.08032500000000001!3d51.531355!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cbc974de4c3%3A0x4d51907375032c33!2sMinistry+of+Stories+and+Hoxton+Street+Monster+Supplies!5e0!3m2!1sen!2suk!4v1414961328535"></iframe>
</div>
<div class="grid-item large--one-third address-details text-center">
  <a name="hours"></a><h3>159 Hoxton Street<br/>London N1 6PJ</h3>
  <p><a href="tel:+442077294159">020 7729 4159</a></p>
  <p>
    <ul>
      <li>Monday &mdash; Closed</li>
      <li>Tuesday &mdash; 1pm to 5pm</li>
      <li>Wednesday &mdash; 1pm to 5pm</li>
      <li>Thursday &mdash; 1pm to 5pm</li>
      <li>Friday &mdash; 1pm to 5pm</li>
      <li>Saturday &mdash; 11am to 5pm</li>
      <li>Sunday &mdash; Closed</li>
    </ul>
  </p>
</div>


<div class="grid-item large--two-fifths volunteer-holder ">
  <div class="collection-promo">
    <a href="{{ pages.volunteer.url }}" title="Find out more about volunteering">
      <div class="collection-text text-center">
        <div class="title-small">New <span class="strikethrough">victims</span> volunteers needed</div>
      </div>
      <img src="{{ 'volunteer.jpg' | asset_url }}" alt="volunteer image">
    </a>
  </div>
</div>

<div class="grid-item large--three-fifths no-bottom-margin">
  <div class="product-quote">

    <p class="quote-text">‘This has been my store of choice for almost 200 years.’</p>
    <p class="quote-author">- Angelica, vampire.</p>
    <span class="divider"></span>
    <p class="quote-text">‘When you buy one of their tins of fear, or jars of brain jam, you don't just get a great stocking filler or something to liven up your breakfast table, you know that you're helping to support the business of the imagination with the next generation.’</p>
    <p class="quote-author">- Colin Firth, Ministry of Stories supporter, and Minister for Fluency.</p>
  </div>
</div>