<footer class="site-footer text-center" role="contentinfo">

  <div class="wrapper">


    <div class="grid-item follow-content">
      <h5>Follow us. If you must.</h5>
      <div class="social">
        <button class='btn--small btn-secondary js-newsletter-button'>Sign up to newsletter</button>
        <div class="twitter-button social-button">
          <a href="https://twitter.com/MonsterSupplies" class="twitter-follow-button" data-show-count="false">Follow @MonsterSupplies</a>
        </div>
        <div class="facebook-button social-button">
          <div class="fb-like" data-href="http://www.monstersupplies.org" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
        <div class="gplus-button social-button left-margin-button ">
          <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://www.monstersupplies.org"></div>
        </div>
      </div>
    </div>
  </div>

  <p class="side-padding">We are tragically unable to accept beans (magic or otherwise), and no longer accept human sacrifice.</p>
  <p class="side-padding">However we do take the following payment methods via Paypal:
  <div class="payment-icons">
    <img src="{{  "cards.png" | asset_url }}" alt="payment cards">
  </div>
  <p class="side-padding">Monster Supplies is an operating name for the Ministry of Stories, Company No. 07317370, Registered Charity No. 1138553, VAT no 169 9531 56</p>

  <div class="footer-links">
    <ul class="text-center">
      {% for link in linklists.footer.links %}
      <li>
        {% if link.handle == "delivery-and-returns" %}
          <a href="#" class="js-delivery-info">{{ link.title }}</a>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>


</footer>