<div class="newsletter-overlay modal-window">
    <div class="modal-content">
        <div class="overlay-close-button js-overlay-close">&nbsp;</div>
        <div class="newsletter-form-content modal-content-inner">
            <h2>Sign up to the newsletter</h2>
            <p>Here at Hoxton Street Monster Supplies, there are many comings and goings, moanings and groanings, things that go bump in the night, and lots of ghastly goings on.</p>
            <p>To stay abreast of these matters, as well as new products, special offers and other grim tales, please sign up to our newsletter below:</p>
            <form>

            </form>
        </div>
    </div>
</div>