<div class="grid-item no-bottom-margin product-grid-item product-grid-quote large--one-quarter medium--one-half small--one-half">
  <img src="{{ 'white-square.png' | asset_url }}" alt="quote">
  <div class="quote-text">
    <p>'The staff at Hoxton Street Monster Supplies dealt with my very particular needs calmy and efficiently - especially after I promised not to eat them'<p>
    <div class="quote-author">- Roger, Sasquatch aged 243 years</div>
  </div>
</div>