<main class="wrapper main-content" role="main">
  <div class="grid-uniform">

    <div class="grid-item large--two-thirds push--large--one-sixth">

      <header class="page-header">
        <h2>Page Not Found</h2>
      </header>

      <div class="side-padding">
        <div class="rte">
          <p>Oh, damn and blast. The page you requested appears to have slipped into another dimension. Again. Click <a href="/collections/all">here</a> to continue shopping, if you can be bothered.</p>
        </div>
      </div>
    </div>

  </div>
</main>