<main class="wrapper main-content no-bottom-padding" role="main">

  <div class="full-width">
    <header class="page-header collection-header">
      <div class="delivery-promo delivery-promo-small bottom-gutter-margin">
        <p>Free delivery on orders over &pound;50</p>
      </div>
      <h2>{{ collection.title }}</h2>
      <p>{{ collection.description }}</p>
    </header>
  </div>
  
  {% if collection.handle == 'gift-ideas' %}
    <!-- display collection items grouped by tags -->
    {% assign allowed_tags = 'mummies,little monsters,ogres' | split: ',' %}

    {% for tag in allowed_tags %}
      <div class="product-sub-category">
        <div class="full-width text-center">
          <h3>Gifts for {{ tag }}</h3>
        </div>
        <div class="grid-uniform bottom-gutter-margin">
          {% for product in collection.products %}
            {% if product.tags contains tag %}
              {% include 'product-grid-item' %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  
  {% else %}
    {% paginate collection.products by 12 %}

    <div class="grid-uniform bottom-gutter-margin">

      {% for product in collection.products %}

        {% if forloop.index == 4 %}
          
          {% include 'product-grid-quote' %}

        {% else %}
          
          {% include 'product-grid-item' %}

        {% endif %}

      {% else %}

        <div class="grid-item">
          <p>There are no products in this collection.</p>
        </div>

      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}

      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

    {% endpaginate %}
  
  {% endif %}


</main>

<div class="full-width">
  <div class="mos-promo">
    <p>Due to a rather inconvenient curse, all profits go to the <a href="http://www.ministryofstories.org" class="js-mos-info">Ministry of Stories</a>, a creative writing and mentoring charity for young humans</p>
  </div>
</div>