<main class="wrapper main-content" role="main">
  
  <div class="full-width">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>
  </div>

  <div class="grid-uniform volunteer-content-holder">
    <div class="grid-item large--one-half volunteer-content border-right">

      
      <div class="rte">
        {{ page.content }}
      </div>

    </div>

    <div class="grid-item large--one-half volunteer-image-holder">
      <img src="{{ 'volunteer_large.jpg' | asset_url }}" alt="volunteer image">
    </div>

  </div>
  <div class="full-width">
    <div class="mos-promo">
      <p>Due to a rather inconvenient curse, all profits go to the <a href="http://www.ministryofstories.org" class="js-mos-info">Ministry of Stories</a>, a creative writing and mentoring charity for young humans</p>
    </div>
  </div>
</main>