<main class="wrapper main-content" role="main">
  {% comment %}

    This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
    Be sure to select page.contact as the template from the admin page to have this template take effect.

    For information on adding more fields, visit:
      - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

  {% endcomment %}

  <div class=" full-width">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>
  </div>

  <div class="grid-uniform side-padding">

    <div class="grid-item large--one-half push--large--one-twelfth">

      <div class="rte">
        {{ page.content }}
      </div>

    </div>

    <div class="grid-item large--one-third push--large--one-twelfth">
      <h3>We're always looking for shop volunteers</h3>
      <p>
        <a href="{{ pages.volunteer.url }}">Find out more</a>
      </p>
      <img src="http://placehold.it/800x600" alt="volunteer image">
    </div>

    <div class="grid-item large--five-sixths push--large--one-twelfth">
      <iframe width="100%" class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=&amp;layer=c&amp;sll=51.531355,-0.080325&amp;cid=5571393039592795187&amp;panoid=7amqXA6Y04MAAAGu5veuzA&amp;cbp=13,352.27,,0,0&amp;gl=US&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=51.531355,-0.080325&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=51.531384,-0.08035&amp;source=embed&amp;output=svembed"></iframe>
    </div>
  </div>
</main>