<main class="wrapper main-content" role="main">
  
  <div class=" full-width">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>
  </div>

  <div class="grid-uniform side-padding">

    <div class="grid-item large--one-half push--large--one-twelfth">

      <div class="rte">
        {{ page.content }}
      </div>

    </div>

    <div class="grid-item large--one-third push--large--one-twelfth">
      <h3>We're always looking for shop volunteers</h3>
      <p>
        <a href="{{ pages.volunteer.url }}">Find out more</a>
      </p>
      <img src="http://placehold.it/800x600" alt="volunteer image">
    </div>
  </div>

</main>