<main class="wrapper main-content" role="main">
  <div class="grid-uniform">

    <div class="grid-item large--two-thirds push--large--one-sixth">

      <header class="page-header">
        <h2>{{ page.title }}</h2>
      </header>

      <div class="side-padding">
        {% comment %}
          Regular page content goes here.
        {% endcomment %}
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</main>