<main class="wrapper main-content" role="main">
  {% comment %}

    This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
    Be sure to select page.contact as the template from the admin page to have this template take effect.

    For information on adding more fields, visit:
      - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

  {% endcomment %}

  <div class=" full-width">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>
  </div>

  <div class="grid-uniform side-padding">

    <div class="grid-item large--five-sixths push--large--one-twelfth text-center contact-page-content">

      <div class="rte">
        {{ page.content }}
      </div>

    </div>

    {% include 'contact-items' %}
  </div>
</main>