;(function ($, Monsters, undefined){

    /* navigation */

    $(document).ready(function() {
        var mobile_menu = $('.mobile-nav');
        var main_menu = $('.menu');
        var toggle = mobile_menu.find('.nav-toggle');
        var search = $('.mobile-search-form');
        var search_button = mobile_menu.find('.mobile-nav-search');

        toggle.on('click', function(e) {
            e.preventDefault();
            $(this).toggleClass('is-selected');
            main_menu.toggleClass('is-open');
            if (search_button.hasClass('is-selected')) {
                search_button.removeClass('is-selected');
                search.removeClass('is-open');
            }
        });

        search_button.on('click', function(e) {
            e.preventDefault();
            $(this).toggleClass('is-selected');
            search.toggleClass('is-open');
            if (toggle.hasClass('is-selected')) {
                toggle.removeClass('is-selected');
                main_menu.removeClass('is-open');
            }
        });
    });

    /* Translation menu */

    $(document).ready(function() {
        var burger_trigger = $('.burger-trigger');
        var translation_options = $('.translation-options');
        var transition_links = translation_options.find('a');
        var selected_language = $('.selected-language');
        //
        burger_trigger.on('click', function(e) {
            e.preventDefault();
            translation_options.toggleClass('is-open');
        });
        transition_links.on('click', function (e) {
            e.preventDefault();
            var language = $(this).attr('data-language');
            selected_language.html(language);
            translation_options.removeClass('is-open');
        });
    });

    /* Carousel */

    $(document).ready(function() {

        /* homepage carousel */
        var carousel = $(".feature-carousel");
        //store the carousel data
        var carouselItems = carousel.find(".carousel-item");
        if (carouselItems.length > 0) {
            var carouselOptions = {
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem:true,
                autoPlay : 50000
            };

            var items_array = [];

            $.each(carouselItems, function(index, item) {
                var image = $(item).find('img');
                var item_obj = {};
                item_obj['desktop-img'] = image.attr('data-desktop-image');
                item_obj['mobile-img'] = image.attr('src');
                item_obj['alt-text'] = image.attr('alt');
                item_obj['carousel-copy'] = $(item).find('.carousel-copy').html();
                items_array.push(item_obj);
            });

            //initialise the homepage carouel
            carousel.owlCarousel(carouselOptions);

            var carouselData = $(carousel).data('owlCarousel');

            var showDesktopCarouselAssets = function() {
                repopulateCarousel(false);
            }

            var showMobileCarouselAssets = function() {
                repopulateCarousel(true);
            }

            var repopulateCarousel = function (isMobile) {
                if (!carouselData) return;
                carouselData.destroy();
                var content_str = '';
                for (var i = 0; i < items_array.length; i++) {
                    var item_obj = items_array[i];
                    var image_str = item_obj['desktop-img'];
                    if (isMobile) image_str = item_obj['mobile-img'];
                    var item_str = '<div class="carousel-item">';
                    item_str += '<img src="'+image_str+'" alt="'+item_obj['alt-text']+'">';
                    item_str += '<div class="carousel-copy">' +item_obj['carousel-copy']+ '</div>';
                    item_str += '</div>';
                    content_str += item_str;
                };
                carousel.html(content_str);
                carouselData.reinit(carouselOptions);
            }

            if (Monsters.isDesktop) {
                showDesktopCarouselAssets();
            }

            $(window).on('desktopToMobile', showMobileCarouselAssets);
            $(window).on('mobileToDesktop', showDesktopCarouselAssets);
        }

        /* product carousel */
        var product_carousel = $('.product-carousel');
        var carousel_thumbs = $('.js-carousel-thumb');
        var carousel_navigation = $('.carousel-navigation');
        var left_arrow = carousel_navigation.find('.arrow-left');
        var right_arrow = carousel_navigation.find('.arrow-right');
        //
        if (product_carousel) {

            var checkCurrentImage = function() {
                if (!productCarouselData) return;
                var currentIndex = productCarouselData.currentItem;
                $.each(carousel_thumbs, function(index, thumb) {
                    if (index == currentIndex) {
                        $(thumb).addClass('product-selected');
                    }else{
                        $(thumb).removeClass('product-selected');
                    }
                    
                });
            }

            product_carousel.owlCarousel({
              slideSpeed : 300,
              pagination: false,
              singleItem: true,
              afterAction: checkCurrentImage
            });

            var productCarouselData = $(product_carousel).data('owlCarousel');

            $.each(carousel_thumbs, function(index, thumb) {
                $(thumb).on('click', function (e) {
                    e.preventDefault();
                    product_carousel.trigger('owl.goTo',index);
                });
            });

            left_arrow.on('click', function (e) {
                e.preventDefault();
                product_carousel.trigger('owl.prev');
            });

            right_arrow.on('click', function (e) {
                e.preventDefault();
                product_carousel.trigger('owl.next');
            });
        }

    });

    /* rollover images for products */
    $(document).ready(function() {
        var images = $('.js-image-rollover');
        $.each(images, function(index, image) {
            var image_url = $(image).attr('src');
            var rollover_url = $(image).attr('data-rollover-url');
            if (rollover_url != '') {
                $(image).on('mouseover', function (e) {
                    $(this).attr("src",rollover_url);
                });
                $(image).on('mouseout', function (e) {
                    $(this).attr("src",image_url);
                });
            }
        });
    });

    /* plus and minus buttons - product page */
    $(document).ready(function() {

        var add_button = $('.add-product');
        var subtract_button = $('.subtract-product');
        var quantity_input = $('input[name="quantity"]');

        var quantity = parseInt(quantity_input.val());

        subtract_button.on('click', function (e) {
            if (quantity > 1) quantity -= 1;
            quantity_input.val(quantity);
        });

        add_button.on('click', function (e) {
            quantity += 1;
            quantity_input.val(quantity);
        });
    });

    /* basket behaviours */
    $(document).ready(function() {

        /* up and down arrows in basket */

        var products = $('.js-product-row');

        $.each(products, function(index, product) {
            var arrow_up = $(product).find('.arrow-up');
            var arrow_down = $(product).find('.arrow-down');
            var quantity_input = $(product).find('input.quantity-input');
            var product_id = quantity_input.attr('data-id');

            var quantity = parseInt(quantity_input.val());

            arrow_up.on('click', function (e) {
                quantity += 1;
                quantity_input.val(quantity);
                Shopify.AjaxifyCart.updateBasket(product_id,quantity);
            });

            arrow_down.on('click', function (e) {
                if (quantity > 1) quantity -= 1;
                quantity_input.val(quantity);
                Shopify.AjaxifyCart.updateBasket(product_id,quantity);
            });
        });

        var curses = $('.curse-options li');

        $.each(curses, function(index, curse) {
            $(curse).on('click', $.debounce( 100, function (e) {
                var product_id = $(this).find('label').attr('data-id');
                var box = $(this).find('input');
                var active = $(box).is(':checked');
                if (active) {
                    Shopify.AjaxifyCart.addToBasket(product_id,1);
                }else{
                    Shopify.AjaxifyCart.updateBasket(product_id,0);
                }
                //update the total curse amount
                updateCurseTotal();
            }));
        });

        var updateCurseTotal = function() {
            var curses_amount = $('.curse-options-container .product-cost');
            var total = 0;
            $.each(curses, function(index, curse) {
                var cost = parseInt($(this).find('label').attr('data-cost'));
                var box = $(this).find('input');
                var active = $(box).is(':checked');
                if (active) {
                    total += cost;
                }
            });
            total *= 0.01;
            var price = "£"+total;
            price = price.replace('.00','');
            curses_amount.html(price);
        }
        
    });

    /* overlays */

    $(document).ready(function() {
        var newsletter_button = $('.js-newsletter-button');
        var delivery_link = $('.js-delivery-info');
        var mos_link = $('.js-mos-info');
        var newsletter_overlay = $('.newsletter-overlay');
        var delivery_overlay = $('.delivery-overlay');
        var mos_overlay = $('.mos-overlay');
        var modal_windows = $('.modal-window');
        var close_button = $('.js-overlay-close');

        newsletter_button.on('click', function (e) {
            e.preventDefault();
            $('body').addClass('noscroll');
            newsletter_overlay.addClass('is-open');
        });

        delivery_link.on('click', function (e) {
            e.preventDefault();
            $('body').addClass('noscroll');
            delivery_overlay.addClass('is-open');
        });

        mos_link.on('click', function (e) {
            e.preventDefault();
            $('body').addClass('noscroll');
            mos_overlay.addClass('is-open');
        });

        close_button.on('click', function (e) {
            $('body').removeClass('noscroll');
            modal_windows.removeClass('is-open');
        });
    });

    /* helper functions */

    $(document).ready(function() {
        //setup the layout handler
        var getWidth = function() {
            return window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        };

        var minDesktopWidth = 480;
        var previousWidth = getWidth();
        if (previousWidth < minDesktopWidth) {
            $(window).trigger('desktopToMobile');
        }

        $(window).on('resize', $.throttle(50, function(e) {
            var currentWidth = getWidth();
            if ((previousWidth < minDesktopWidth) && (currentWidth >= minDesktopWidth)) {
                // mobile -> desktop transition
                $(window).trigger('mobileToDesktop');
            }
            else if ((previousWidth >= minDesktopWidth) && (currentWidth < minDesktopWidth)) {
                // desktop -> mobile transition
                $(window).trigger('desktopToMobile');
            }
            previousWidth = currentWidth;
        }));
        
    });
    
    
})(jQuery, window.Monsters || (window.Monsters = {}));