; (function ($, Monsters, undefined) {

    /* Translation menu */
    var page_content;
    var current_translation;
    var white_space = [" ","<","\n","\r","\t"];
    var punctuation = [".",",",";","?","!"];
    var font_overrides = ['h2','h3','h4','h5','button','.product-title','.secondary-font','.title-small'];

    $(window).on('initialise', function() {
        var burger_trigger = $('.burger-trigger');
        var translation_options = $('.translation-options');
        var transition_links = translation_options.find('a');
        //
        burger_trigger.on('click', function(e) {
            e.preventDefault();
            translation_options.toggleClass('is-open');
        });
        transition_links.on('click', function (e) {
            e.preventDefault();
            translation_options.removeClass('is-open');
            var target = $(this).attr('data-url');
            document.location.href = target;
        });
    });

    /* navigation */

    $(window).on('initialise', function() {
        var mobile_menu = $('.mobile-nav');
        var main_menu = $('.menu');
        var toggle = mobile_menu.find('.nav-toggle');
        var search = $('.mobile-search-form');
        var search_button = mobile_menu.find('.mobile-nav-search');

        toggle.on('click', function(e) {
            e.preventDefault();
            $(this).toggleClass('is-selected');
            main_menu.toggleClass('is-open');
            if (search_button.hasClass('is-selected')) {
                search_button.removeClass('is-selected');
                search.removeClass('is-open');
            }
        });

        search_button.on('click', function(e) {
            e.preventDefault();
            $(this).toggleClass('is-selected');
            search.toggleClass('is-open');
            if (toggle.hasClass('is-selected')) {
                toggle.removeClass('is-selected');
                main_menu.removeClass('is-open');
            }
        });
    });

    /* Carousel */

    $(window).on('initialise', function() {
        /* homepage carousel */
        var carousel = $(".feature-carousel");
        var is_about = $(carousel).hasClass('about-carousel');
        var is_volunteer = $(carousel).hasClass('volunteer-carousel');
        //store the carousel data
        var carouselItems = carousel.find(".carousel-item");
        if (carouselItems.length > 0) {
            var carouselOptions = {
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem:true,
                autoPlay : 50000
            };
            if (is_about || is_volunteer) {
                carouselOptions.pagination = false;
            }

            var items_array = [];

            $.each(carouselItems, function(index, item) {
                var image = $(item).find('img');
                var item_obj = {};
                item_obj['desktop-img'] = image.attr('data-desktop-image');
                item_obj['mobile-img'] = image.attr('src');
                item_obj['alt-text'] = image.attr('alt');
                item_obj['carousel-copy'] = $(item).find('.carousel-copy').html();
                items_array.push(item_obj);
            });

            //initialise the homepage carouel
            carousel.owlCarousel(carouselOptions);

            var carouselData = $(carousel).data('owlCarousel');

            var showDesktopCarouselAssets = function() {
                repopulateCarousel(false);
            }

            var showMobileCarouselAssets = function() {
                repopulateCarousel(true);
            }

            var repopulateCarousel = function (isMobile) {
                if (!carouselData) return;
                carouselData.destroy();
                var content_str = '';
                for (var i = 0; i < items_array.length; i++) {
                    var item_obj = items_array[i];
                    var image_str = item_obj['desktop-img'];
                    if (isMobile || image_str == undefined) image_str = item_obj['mobile-img'];
                    var item_str = '<div class="carousel-item">';
                    item_str += '<img src="'+image_str+'" alt="'+item_obj['alt-text']+'">';
                    item_str += '<div class="carousel-copy">' +item_obj['carousel-copy']+ '</div>';
                    item_str += '</div>';
                    content_str += item_str;
                };
                carousel.html(content_str);
                carouselData.reinit(carouselOptions);
            }

            if (Monsters.isDesktop) {
                showDesktopCarouselAssets();
            }

            $(window).on('desktopToMobile', showMobileCarouselAssets);
            $(window).on('mobileToDesktop', showDesktopCarouselAssets);
        }

        $(document.documentElement).keyup(function(event) {
            if (event.keyCode == 37) {
                    carousel.trigger('owl.prev');
            } else if (event.keyCode == 39) {
                    carousel.trigger('owl.next');
            }
        });

        /* product carousel */
        var arrow_carousel = $('.js-arrow-carousel');
        var products_carousel = $('.product-carousel');
        var carousel_thumbs = $('.js-carousel-thumb');
        var left_arrow = $('.arrow-left');
        var right_arrow = $('.arrow-right');
        //
        if (left_arrow && right_arrow) {
            var left_arrow_link = left_arrow.find('a');
            var right_arrow_link = right_arrow.find('a');
            left_arrow_link.on('click', function (e) {
                e.preventDefault();
                arrow_carousel.trigger('owl.prev');
                hideArrows();
            });

            right_arrow_link.on('click', function (e) {
                e.preventDefault();
                arrow_carousel.trigger('owl.next');
                hideArrows();
            });
        }

        var hideArrows = function() {
            left_arrow.css('opacity', 0);
            left_arrow.delay(800).animate({'opacity':1},200);
            right_arrow.css('opacity', 0);
            right_arrow.delay(800).animate({'opacity':1},200);
        }

        if (products_carousel) {

            var checkCurrentImage = function() {
                if (!productCarouselData) return;
                var currentIndex = productCarouselData.currentItem;
                $.each(carousel_thumbs, function(index, thumb) {
                    if (index == currentIndex) {
                        $(thumb).addClass('product-selected');
                    }else{
                        $(thumb).removeClass('product-selected');
                    }
                    
                });
            }

            products_carousel.owlCarousel({
              slideSpeed : 300,
              pagination: false,
              singleItem: true,
              afterAction: checkCurrentImage
            });

            var productCarouselData = $(products_carousel).data('owlCarousel');

            $.each(carousel_thumbs, function(index, thumb) {
                $(thumb).on('click', function (e) {
                    e.preventDefault();
                    products_carousel.trigger('owl.goTo',index);
                });
            });
        }
    });

    /* rollover images for products */
    $(window).on('initialise', function() {
        var images = $('.js-image-rollover');
        $.each(images, function(index, image) {
            var image_url = $(image).attr('src');
            var rollover_url = $(image).attr('data-rollover-url');
            if (rollover_url != '') {
                $(image).on('mouseover', function (e) {
                    $(this).attr("src",rollover_url);
                });
                $(image).on('mouseout', function (e) {
                    $(this).attr("src",image_url);
                });
            }
        });
    });

    /* plus and minus buttons - product page */
    $(window).on('initialise', function() {

        var add_button = $('.add-product');
        var subtract_button = $('.subtract-product');
        var quantity_input = $('input[name="quantity"]');

        var quantity = parseInt(quantity_input.val());

        subtract_button.on('click', function (e) {
            if (quantity > 1) quantity -= 1;
            quantity_input.val(quantity);
        });

        add_button.on('click', function (e) {
            quantity += 1;
            quantity_input.val(quantity);
        });
    });

    /* basket behaviours */
    $(window).on('initialise', function() {

        /* up and down arrows in basket */

        var products = $('.js-product-row');

        $.each(products, function(index, product) {
            var arrow_up = $(product).find('.arrow-up');
            var arrow_down = $(product).find('.arrow-down');
            var quantity_input = $(product).find('input.quantity-input');
            var product_id = quantity_input.attr('data-id');
            var product_price = quantity_input.attr('data-cost');
            var product_price_output = $(product).find('.product-cost');

            var quantity = parseInt(quantity_input.val());

            arrow_up.on('click', function (e) {
                quantity += 1;
                quantity_input.val(quantity);
                Shopify.AjaxifyCart.updateBasket(product_id,quantity);
                //update the price inline
                updateProductTotal(quantity * product_price, product_price_output);
            });

            arrow_down.on('click', function (e) {
                if (quantity > 1) quantity -= 1;
                quantity_input.val(quantity);
                Shopify.AjaxifyCart.updateBasket(product_id,quantity);
                updateProductTotal(quantity * product_price, product_price_output);
            });
        });

        var curses = $('.curse-options li');

        $.each(curses, function(index, curse) {
            $(curse).on('click', $.debounce( 100, function (e) {
                var product_id = $(this).find('label').attr('data-id');
                var box = $(this).find('input');
                var active = $(box).is(':checked');
                if (active) {
                    Shopify.AjaxifyCart.addToBasket(product_id,1);
                }else{
                    Shopify.AjaxifyCart.updateBasket(product_id,0);
                }
                //update the total curse amount
                updateCurseTotal();
            }));
        });

        var updateProductTotal = function(total, output) {
            total *= 0.01;
            var price = "£"+total;
            price = price.replace('.00','');
            output.html(price);
        }

        var updateCurseTotal = function() {
            var curses_amount = $('.curse-options-container .product-cost');
            var total = 0;
            $.each(curses, function(index, curse) {
                var cost = parseInt($(this).find('label').attr('data-cost'));
                var box = $(this).find('input');
                var active = $(box).is(':checked');
                if (active) {
                    total += cost;
                }
            });
            total *= 0.01;
            var price = "£"+total;
            price = price.replace('.00','');
            curses_amount.html(price);
        }
        
    });

    /* overlays */

    $(window).on('initialise', function() {
        var newsletter_button = $('.js-newsletter-button');
        var delivery_link = $('.js-delivery-info');
        var mos_link = $('.js-mos-info');
        var newsletter_overlay = $('.newsletter-overlay');
        var delivery_overlay = $('.delivery-overlay');
        var mos_overlay = $('.mos-overlay');
        var modal_windows = $('.modal-window');
        var close_button = $('.js-overlay-close');

        $.each(modal_windows, function(index, modal) {
            $(modal).on('click', function (e) {
                closeOverlays();
            });
            var content = $(modal).find('.modal-content');
            $(content).on('click', function (e) {
                e.stopPropagation();
            });
        });

        var openOverlay = function(overlay_target) {
            $('body').addClass('noscroll');
            overlay_target.addClass('is-open');
        }

        var closeOverlays = function() {
            $('body').removeClass('noscroll');
            modal_windows.removeClass('is-open');
        }

        newsletter_button.on('click', function (e) {
            e.preventDefault();
            openOverlay(newsletter_overlay);
        });

        delivery_link.on('click', function (e) {
            e.preventDefault();
            openOverlay(delivery_overlay);
        });

        mos_link.on('click', function (e) {
            e.preventDefault();
            openOverlay(mos_overlay);
        });

        close_button.on('click', function (e) {
            closeOverlays();
        });
    });

    /* housekeeping page */

    $(window).on('initialise', function() {
        $("input#check").click(function() {
            if ($("input#secret").val() == "F3ASTB3AST") {
                $("p#incorrect").addClass("hidden");
                $("p#hidden").removeClass("hidden");
            } else {
                $("p#incorrect").removeClass("hidden");
            }
            
        });
    });

    /* helper functions */

    $(window).on('initialise', function() {
        //setup the layout handler
        var getWidth = function() {
            return window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        };

        var minDesktopWidth = 480;
        var previousWidth = getWidth();
        if (previousWidth < minDesktopWidth) {
            $(window).trigger('desktopToMobile');
        }

        $(window).on('resize', $.throttle(50, function(e) {
            var currentWidth = getWidth();
            if ((previousWidth < minDesktopWidth) && (currentWidth >= minDesktopWidth)) {
                // mobile -> desktop transition
                $(window).trigger('mobileToDesktop');
            }
            else if ((previousWidth >= minDesktopWidth) && (currentWidth < minDesktopWidth)) {
                // desktop -> mobile transition
                $(window).trigger('desktopToMobile');
            }
            previousWidth = currentWidth;
        }));
        
    });

    $(document).ready(function() {

        var applyTranslation = function(language) {
            //
            if (language == current_translation) return;
            current_translation = language;
            //
            var new_content;

            $('.container').removeClass('upside-down');
            $('.container').removeClass('hieroglyphics');
            $.each(font_overrides, function(index, selector) {
                $(selector).css('font-family','');
            });

            var update_content = false;

            switch (language) {
                case "zombies":
                    var words = ["[a]r","arg[h]","ug[h]","br[a]ins","BR[A]INS","e[r]g","gr[u]nt","[u]rg","R[A]H","sl[u]r","[o]of","r[e]h","[r]rr","[O]ORG","[o]g","[o]o"];
                    var temp_content = page_content.substring(815);
                    new_content = replace_words(words, temp_content);
                    new_content = page_content.substring(0,815) + new_content;
                    update_content = true;
                break;
                case "werewolves":
                    var words = ["g[r]","w[o]of","B[A]RK","y[a]p","h[o]wl","Awh[o]","a[w]","sn[i]ff","Y[A]P","aro[o]o","AR[O]Ooo","r[a]sp"];
                    var temp_content = page_content.substring(815);
                    new_content = replace_words(words, temp_content);
                    new_content = page_content.substring(0,815) + new_content;
                    update_content = true;
                break;
                case "vampire-bats":
                    new_content = page_content;
                    $('.container').addClass('upside-down');
                    update_content = true;
                break;
                case "mummies":
                    new_content = page_content;
                    $('.container').html(new_content);
                    $('.container').addClass('hieroglyphics');
                    $.each(font_overrides, function(index, selector) {
                        $(selector).css('font-family','Hieroglyphics');
                    });
                    return true;
                break;
                default:
                    
                break;
            }
            if (update_content == true) $('.container').html(new_content);
            return update_content;
        }
        //
        var replace_words = function(words, content) {
            
            //find the words within the page
            var num_open_tags = 0;
            var current_word = '';
            //
            for (var i = 0 ; i < content.length ; i++) {
                var current_char = content.charAt(i);

                if (current_char == ">") {
                    num_open_tags--;
                }

                if ($.inArray(current_char, white_space) != -1) {
                    //we have a white space character - check to see if we should replace a word
                    if (num_open_tags == 0 && current_word.length > 1) {
                        //don't touch numbers
                        var matches = current_word.match(/\d+/g);
                        if (matches == null) {
                            //this word doesn't contain a number - replace it
                            //maintain punctuation at the end of the word
                            var last_char = '';
                            if ($.inArray(current_word.charAt(current_word.length - 1), punctuation) != -1) {
                                last_char = current_word.charAt(current_word.length - 1);
                                current_word = current_word.substring(0,current_word.length - 1);
                            }
                            var chosen_word = words[0];
                            if (current_word.length > 5) {
                                chosen_word = words[Math.floor(Math.random() * words.length)];
                            }
                            var word_length = chosen_word.length - 2;
                            var fill_num = Math.max(0, current_word.length - word_length);
                            var bracket_pos = chosen_word.indexOf("[");
                            new_word = chosen_word.substring(0,bracket_pos);
                            //
                            for (var j = 0 ; j <= fill_num ; j++) {
                                new_word += chosen_word.charAt(bracket_pos + 1);
                            }
                            //
                            new_word += chosen_word.substring(bracket_pos+3);
                            new_word += last_char;
                            //
                            content = content.substring(0, i - new_word.length) + new_word + content.substring(i);

                        }
                    }
                    current_word = '';

                }else if (num_open_tags == 0 && current_char != ">") {
                    current_word += current_char;
                }

                if (current_char == "<") {
                    num_open_tags++;
                }                        
            }
            return content;
        }

        //store the default html
        if (page_content == undefined) {
            //store the html of this page in memory so we can return to it
            page_content = $('.container').html();
            page_content = page_content.replace(/&amp;/g,"&");
            page_content = page_content.replace(/&nbsp;/g," ");
        }
        //
        var language = get_url_param('lang');
        //
        if (language != undefined) {
            var updated = applyTranslation(language);
            if (updated == true) {
                var selected_language = $('.selected-language');
                language = language.replace("-", " ");
                selected_language.html(language);
            }
        }

        //trigger the custom event
        $(window).trigger('initialise');
    });
    
    
})(jQuery, window.Monsters || (window.Monsters = {}));